
.tituloUbicacion, .sugerencia {
    text-align: center;
}

.ubicacion {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.tituloOpinion {
    text-align: center;
    margin: 0.1rem auto;
    padding: 0.1rem;
}

.formulario, .items {
    display: flex;
    flex-direction: column;
}

.label, .datos {
    width: 20rem;
    height: 3rem;
    margin: 2px auto;
    padding: 2px;
}

.opinion {
    width: 20rem;
    height: 10rem;
    margin: 1rem auto;
    padding: 1rem;
}

.boton {
    width: 5rem;
    height: 2rem;
    margin: 0.1rem auto;
    padding: 0.1rem;
}

