.multimedia {
    display: flex;
    flex-direction: column;
}

.tituloGaleria {
    text-align: center;
}

.videoGaleria {
    display: flex;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 768px) {
    .video {
        width: 400px;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .video {
        width: 350px;
        height: auto;
    }
}
