@import "mixins";

.multimedia {
    @include displayFlex();
}

.navbar {
    @include marginPadding1;
}

.tituloGaleria {
    text-align: center;
    @include marginPadding1;
}

.videoGaleria {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

@media screen and (max-width: 768px) {
    .video {
        width: 400px;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .video {
        width: 350px;
        height: auto;
    }
}
