// comienza estilos para el index
@import "variables";

body {
    font-family: $fontBody;
    font-family: $fontBody2;
    background-color: $bgRed;
}

.headerIndex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;

    .escudoIndex {
        max-width: 10rem;
    }

    .titulo {
        text-transform: uppercase;
        font-family: 'Acme', sans-serif;
        font-family: 'Dosis', sans-serif;
    }
}

.mainIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .actualidad, .proxima, .vs {
        margin: 1rem;
        padding: 1rem;
        text-align: center;
    }

    .proxima {
        border-top: double 10px;
        text-transform: uppercase;
    }

    .vs {
        background-color: $bgWhite;
        color: $bgRed;
        border-radius: 5px;
        margin: 0.5rem;
        padding: 0.5rem;
        animation-duration: 10s;
        animation-name: aparecer;
        animation-duration: infinite;
    }

    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
        
    }

    .table {
        width: 60rem;
        margin: 10px auto;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: $bgBlue;
    border-radius: 10px;
    margin: 0.1rem;
    padding: 0.1rem;

    .seguinos, .redes {
        text-align: center;
        margin: 0.2rem;
        padding: 0.2rem;
    }

    .seguinos {
        color: $bgWhite;
    }

    .redes {
        .iconred {
            margin: 0.5rem;
            padding: 0.5rem;
            &:hover {
                transform: scale(1.2,1.2)
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .body {
      display: flex;
      flex-direction: column;
    }
    .headerIndex {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        margin: 1rem;
        padding: 1rem;
    }

}

// terminan estilos pare el index