// comienza estilos para el index
@import "variables";

body {
    font-family: $fontBody;
    font-family: $fontBody2;
}

.headerIndex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;

    .escudoIndex {
        max-width: 10rem;
    }

    .titulo {
        text-transform: uppercase;
        font-family: 'Acme', sans-serif;
        font-family: 'Dosis', sans-serif;
    }
}

.mainIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .actualidad, .proxima, .vs {
        margin: 1rem;
        padding: 1rem;
        text-align: center;
    }

    .table {
        width: 60rem;
        margin: 10px auto;
    }
}

.footer {
    display: flex;
    flex-direction: column;

    .seguinos, .redes {
        text-align: center;
        margin: 0.2rem;
        padding: 0.2rem;
    }

    .redes {
        .iconred {
            margin: 0.5rem;
            padding: 0.5rem;
            &:hover {
                transform: scale(1.2,1.2)
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .body {
      display: flex;
      flex-direction: column;
    }
    .headerIndex {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        margin: 1rem;
        padding: 1rem;
    }

}

// terminan estilos pare el index