@import "variables";

.tituloMas {
    text-align: center;
}

.acordion{
    width: auto;
    margin: 0.5rem auto;
    padding: 0.5rem;

    .accordion-body {
        background-color: $bgRed;
        color: $bgWhite;
        border: solid 2px;
    }    
}

