@import "variables";

.tituloMas {
    text-align: center;
}

.acordion{
    width: 150vh;
    margin: 0.5rem auto;
    padding: 0.5rem;

    .accordion-body {
        background-color: $bgRed;
        color: $bgWhite;
        border: solid 2px;
    }    
}

@media screen and (max-width: 768px) {
    .acordion{
        width: 80vh;
        margin: 1rem auto;
        padding: 1rem;
    }
}
@media screen and (max-width: 1770px) {
    .acordion{
        width: 70vh;
        margin: 1rem auto;
        padding: 1rem;
    }
}

@media screen and (max-width: 1300px) {
    .acordion{
        width: 60vh;
        margin: 1rem auto;
        padding: 1rem;
    }
}

@media screen and (max-width: 690px) {
    .acordion{
        width: 40vh;
        margin: 0.1rem auto;
        padding: 0.1rem;
    }
}

@media screen and (max-width: 460px) {
    .acordion{
        width: 30vh;
        margin: 0.1rem auto;
        padding: 0.1rem;
    }
}