@import "variables";

.tituloMas {
    text-align: center;
}

.acordion{
    width: 150vh;
    margin: 0.5rem auto;
    padding: 0.5rem;

    .accordion-body {
        background-color: $bgRed;
        color: $bgWhite;
        border: solid 2px;
    }
}

@media screen and (max-width: 1760px) {
    .acordion{
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .acordion{
        width: auto;
        margin: 1rem auto;
        padding: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .acordion{
        width: auto;
        margin: 0.1rem auto;
        padding: 0.1rem;
    }
}
