* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.multimedia {
    display: flex;
    flex-direction: column;
}


.tituloGaleria {
    text-align: center;
}

.videoGaleria {
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer {
    display: flex;
    flex-direction: column;
}

.seguinos, .redes {
    text-align: center;
    margin: 0.2rem;
    padding: 0.2rem;
}

.iconred {
    margin: 0.5rem;
    padding: 0.5rem;
}

.imgGaleria {
    width: 1000px;
    height: 600px;
}


@media screen and (max-width: 768px) {
    .body {
        display: flex;
        flex-direction: column;
    }

    .imgGaleria {
        width: 400px;
        height: 300px;
    }
    .video {
        width: 400px;
        height: auto;

    }
}

@media screen and (max-width: 480px) {
    .body {
        display: flex;
        flex-direction: column;
    }
    .imgGaleria {
        width: 300px;
        height: 150px;
    }
    .video {
        width: 200px;
        height: auto;

    }
}