.acordion{
    width: 150vh;
    margin: 1rem auto;
    padding: 1rem;
}


.tituloMas {
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
}

.seguinos, .redes {
    text-align: center;
    margin: 0.2rem;
    padding: 0.2rem;
}

.iconred {
    margin: 0.5rem;
    padding: 0.5rem;
}

@media screen and (max-width: 768px) {
    .acordion{
        width: 80vh;
        margin: 1rem auto;
        padding: 1rem;
    }


}

@media screen and (max-width: 480px) {
    .acordion{
        width: 40vh;
        margin: 0.1rem auto;
        padding: 0.1rem;
    }


}